VITE_SUPABASE_URL=https://cuxmpgfwtjyqycrwmwzy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1eG1wZ2Z3dGp5cXljcndtd3p5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2MTI5NTIsImV4cCI6MjEwMjE4ODk1Mn0.zukfDb8BLBM5k6x-9AuMU-fih1WEPSWbOLdUEod4zdg
